<ul class="navbar-nav navbar-custom rh-navbar-container plugin-smooth-scroll">
    <li class="nav-item">
        <a class="nav-link" href="#halitoza">HALITOZA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#septoral">SEPTORAL</a>
    </li>
    <li class="nav-item" style="display: none;">
        <a class="nav-link" href="#media">MEDIA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#buy">COMANDĂ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
    </li>
</ul>