/**
 * Global configuration
 */

// Fonts
$main-font-family: "Lato", sans-serif;
$secondary-font-family: "Haymaker", serif;

// Colors
$dominant-color: Silver;
$secondary-color: Gray;
$border-color: White;
