//
// Local config
// Overload variables from global config & add new ones. 
//
$media-name: "xs";
$font-base: 0.875rem;
$horizontal-spacing: 25px;

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-size: $font-base;
    padding-top: $navbar-height;
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    text-align: center;
}

// Loop all H
@for $index from 1 through 6 {
    h#{$index} {
        font-family: $secondary-font-family;
        font-weight: $secondary-font-weight;
        line-height: $primary-line-height;
        margin-bottom: $h-margin;
    }
}

p,
ul li {
    font-size: 1rem;
}

.container {
    max-width: $max-container-width;
    text-align: left;
}

.bordered-bottom {
    border-bottom: solid 2px $border-color;
    margin-bottom: .75em;
    padding-bottom: .75em;
}

//
// Universal classes
//
.take-full-viewport {
    min-width: 100vw;
    min-height: 100vh;
}

.content {
    max-width: $max-content-width;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.background-img {
    width: 100%;
    height: auto;
}

.absolute-container {
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar-shadow.fixed-top {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
}

.center-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

//
// Content related
//
.content {
    color: $dominant-color;

    p {
        line-height: $primary-line-height;
        margin-bottom: $p-margin;
    }

    strong {
        font-weight: 900;
    }
}

// 
// Sections
//
